@font-face {
	font-family: "PD-Regular";
	src: url("../libs/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-family: "PD-Italic";
	src: url("../libs/fonts/PlayfairDisplay-Italic.ttf");
}

@font-face {
	font-family: "Inconsolata-Bold";
	src: url("../libs/fonts/Inconsolata-Bold.ttf");
}

@font-face {
	font-family: "Ubuntu-Light";
	src: url("../libs/fonts/Ubuntu-Light.ttf");
}


@mixin reset-ul {
	list-style: none;
	padding:0;
	margin:0;
}

@mixin define-a($color,$size,$line-height) {
	display: block;
	text-decoration: none;
	color: $color;
	font-size: $size;
	line-height: $line-height;
}