@font-face {
  font-family: "OS-Regular";
  src: url("../libs/fonts/OpenSans-Regular.ttf"); }
.wrapper {
  position: relative; }

.header .menu__wrapper {
  position: absolute;
  width: 100%;
  z-index: 20;
  top: -103px;
  transition: .5s; }
  .header .menu__wrapper--show {
    top: 0px; }
.header .menu {
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  position: relative;
  padding: 34px 0; }
  .header .menu__lists {
    width: 40%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .header .menu__lists .item .link {
      display: block;
      text-decoration: none;
      color: #363636;
      font-size: 16px;
      line-height: 35px;
      font-weight: 900;
      text-transform: uppercase; }
  .header .menu .icon-close {
    width: 35px;
    height: 35px;
    background: url("images/close2.png") no-repeat center;
    position: absolute;
    top: 34px;
    right: 20%; }
.header__wrapper {
  padding: 28px 0 18px; }
  .header__wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__wrapper .top__icon-menu {
      background: url("images/nav-icon.png") no-repeat right;
      width: 100px;
      height: 34px; }
    .header__wrapper .top__fr-search {
      position: relative;
      width: 40%; }
      .header__wrapper .top__fr-search .input {
        width: 100%;
        padding: 10px;
        border: 1px solid #e7e7e7;
        background: #f7f6f6;
        border-radius: 3px; }
      .header__wrapper .top__fr-search .btn-search {
        width: 26px;
        height: 26px;
        background: url("images/search-icon.png");
        border: none;
        position: absolute;
        top: 6px;
        right: -15px; }
    .header__wrapper .top__user {
      width: 20%;
      display: flex;
      justify-content: flex-end; }
      .header__wrapper .top__user .link {
        display: block;
        text-decoration: none;
        color: #8c8c8c;
        font-size: 16px;
        line-height: 40px;
        display: flex;
        align-items: center; }
        .header__wrapper .top__user .link .img {
          border-radius: 50%;
          margin-right: 12px; }

@media screen and (max-width: 480px) {
  .header .menu__wrapper {
    width: 100%;
    z-index: 20;
    top: -278px;
    left: 0;
    transition: .5s; }
    .header .menu__wrapper--show {
      top: 0px; }
  .header .menu__lists {
    flex-direction: column; }
  .header__wrapper .top {
    flex-wrap: wrap; }
    .header__wrapper .top__logo {
      width: 40%; }
    .header__wrapper .top__icon-menu {
      width: 40%; }
    .header__wrapper .top__fr-search {
      width: 100%; }
    .header__wrapper .top__user {
      display: none; } }
.main__wrapper {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative; }

.box {
  width: 280px;
  box-sizing: border-box;
  border: 1px solid #dad9d9;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: absolute; }
  .box__img {
    width: 100%; }
    .box__img .img {
      width: inherit; }
  .box__content {
    padding: 0 15px; }
    .box__content--title {
      font-size: 16pt;
      margin: 10px 0; }
      .box__content--title .link {
        display: block;
        text-decoration: none;
        color: #717171;
        font-size: 20px;
        line-height: 24px; }
    .box__content--map {
      font-size: 14px; }
      .box__content--map a {
        display: flex;
        display: block;
        text-decoration: none;
        color: #acaaaa;
        font-size: 14px;
        line-height: 14px; }
        .box__content--map a .icon {
          background: url("images/map-pin.png") no-repeat center;
          width: 12px;
          height: 12px;
          display: inline-block; }
    .box__content--description {
      font-size: 13px;
      line-height: 20px;
      color: #acaaaa; }
  .box__rate {
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
    border-top: 1px solid #dad9d9; }
    .box__rate .star {
      background: url("images/start-rate.png") no-repeat center;
      width: 76px;
      height: 18px; }
    .box__rate .fb {
      background: url("images/facebook.png") no-repeat center;
      width: 26px;
      height: 26px;
      border-radius: 50%; }

@media screen and (min-width: 1280px) {
  .container {
    width: 90%; } }
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .container {
    width: 90%; } }
@media screen and (max-width: 480px) {
  .container {
    width: 100%; } }
body {
  margin: 0 !important;
  background: #f0efee; }

.container {
  margin: 0 auto; }

.wrapper {
  font-family: OS-Regular; }
  .wrapper .header {
    background: #fff url("images/border.png") repeat-x top;
    border-bottom: 1px solid #d6d5d4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10; }
  .wrapper .main {
    padding: 50px 0;
    min-height: 2000px; }

@media screen and (max-width: 480px) {
  .header, .main {
    padding: 0 20px !important; } }

/*# sourceMappingURL=index.css.map */
