@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.ttf'); 
}

$box-width: 600px;
$font-form: 'Poppins-Regular';
$font-head: 'Poppins-Bold';

body {
	margin: 0;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 40px;
	box-sizing: border-box;
	.map {
		width: 200%;
		height: 100%;
		background: lightblue;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.contact {
		width: $box-width;
		margin: auto;
		border-radius: 7px;
		overflow: hidden;
		box-sizing: border-box;
		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #fff;
			background: url("images/bg-01.jpg") no-repeat center;
			padding: 64px 15px 64px 15px;
			position: relative;
			z-index: 1;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.4);
			}
			&__title {
				font-family: $font-head;
				font-size: 20px;
				padding-bottom: 7px;
			}
			&__sologan {
				font-family: $font-form;
				font-size: 15px;
			}
		}
		.form {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			box-sizing: border-box;
			background: #fff;
			font-family: $font-form;
			padding: 43px 88px 57px 190px;
			.item {
				width: 100%;
				margin-bottom: 40px;
				position: relative;
				border-bottom: 1px solid #ccc;
				padding-bottom: 8px;
				font-size: 15px;
				line-height: 1.2;
				&__label {
					position: absolute;
					left: -100px;
					top: 4px;
					display: block;
					width: 80px;
					color: gray;
					text-align: right;
				}
				&__input {
					width: 100%;
					padding: 5px;
					border: none;
					outline: none;
					font-family: $font-form;
					font-size: 15px;
					line-height: 1.2;
					color: #555;
					&:focus+.item__input-focus::before {
						width: 100%;
					}
				}
				&__input-focus {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					pointer-events: none;
					&::before {
						content: '';
						display: block;
						height: 1px;
						width: 0;
						position: absolute;
						bottom: -1px;
						left: 0;
						background: green;
						transition: .4s;
					}
				}
				&__textarea {
					font-family: $font-form;
					line-height: 1.2;
					padding: 5px;
				}
			}
			.btn {
				width: 100%;
				height: 100%;
				.btn-wrap {
					width: auto;
					position: relative;
				}
				&__submit{
					min-width: 160px;
					min-height: 55px;
					display: inline-block;
					border: none;
					border-radius: 30px;
					background: #57b846;
					cursor: pointer;
					transition: .4s;
					&:hover {
						background: #333;
					}
					&:hover+.btn__icon::after{
						right: -65%;
					}
				}
				&__icon {
					position: absolute;
					top: 23%;
					left: 10%;
					color: #fff;
					font-size: 18px;
					pointer-events: none;
					&::after {
						content: '➜';
						position: absolute;
						top: 6%;
    					right: -45%;
    					transition: .4s;
					}
				}
			}
		}
	}
}
.alert-validate::before {
    content: '!';
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
    color: #c80000;
    font-size: 16px;
    font-weight: 700;
    z-index: 3;
}
.alert-validate::after {
    content: attr(data-validate);
    display: block;
    background: #fff;
    position: absolute;
    top: 5%;
    right: 0px;
    color: #c80000;
    font-size: 13px;
    border: 1px solid #c80000;
    border-radius: 4px;
    padding: 5px 20px 5px 5px;
    opacity: 0;
    transition: .4s;
    pointer-events: none;
}
.alert-validate:hover:after {
	opacity: 1;
}
@media screen and(max-width: 480px) {
	.contact {
		width: 100% !important;
		.header {
			padding: 30px 0 !important;
		}
		.form {
			padding: 40px 20px 20px !important;
			.item {
				margin-top: 20px;
				&__label {
					text-align: left !important;
					left: 5px !important;
					top: -25px !important;
				}
			}
			.btn {
				display: flex;
				justify-content: center;
				&__icon {
					left: 20% !important;
				}
			}
		}
	}
}