@media screen and (max-width: 480px) {
	.article {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		padding: 25px 0;
		&__img {
			display: block;
			width: 100%;
			img {
				width: 100%;
			}
		}

		&__cate {
			text-decoration: none;
			padding: 10px 0;
		}

		&__title {
			margin: 0;
			a {
				text-decoration: none;
				font-size: 25px;
				&:hover {
					color: #555;
					transition: .4s;
				}
			}
		}

		&__desc {
			margin: 20px 0;
			font-size: 12px;
			line-height: 24px;
			color: #444;
		}
		&:nth-child(odd) {
			margin-right: 60px;
		}
	}
}



@media screen and (min-width: 600px) and (max-width: 1024px) {
	$box-width: 47%;

	.article {
		width: $box-width;
		height: auto;
		display: flex;
		flex-direction: column;
		margin: 35px 0;
		&__img {
			display: block;
			width: 100%;
			img {
				width: inherit;
				height: inherit;
			}
		}

		&__cate {
			text-decoration: none;
			padding: 30px 0;
		}

		&__title {
			margin: 0;
			a {
				text-decoration: none;
				font-size: 30px;
				&:hover {
					color: #555;
					transition: .4s;
				}
			}
		}

		&__desc {
			margin: 40px 0;
			font-size: 14px;
			line-height: 24px;
			color: #444;
		}
		&:nth-child(odd) {
			margin-right: 6%;
		}
	}
}


@media screen and (min-width: 1025px) {
	$box-width: 420px;

	.article {
		width: $box-width;
		height: auto;
		display: flex;
		flex-direction: column;
		padding: 35px 0;
		&__img {
			display: block;
			width: inherit;
			img {
				width: inherit;
				height: inherit;
			}
		}

		&__cate {
			text-decoration: none;
			padding: 30px 0;
		}

		&__title {
			margin: 0;
			a {
				text-decoration: none;
				font-size: 30px;
				&:hover {
					color: #555;
					transition: .4s;
				}
			}
		}

		&__desc {
			margin: 40px 0;
			font-size: 14px;
			line-height: 24px;
			color: #444;
		}
		&:nth-child(odd) {
			margin-right: 60px;
		}
	}
}

