.comment {
	&__wrapper {

	}
	&__num {
		margin-bottom: 40px;
		display: block;
	}
	&__lists {
		@include reset-ul;
		.item {
			display: flex;
			align-items: flex-start;
			margin-bottom: 70px;
			&__img {
				width: 72px;
				height: 72px;
				border-radius: 50%;
				margin-right: 35px;
			}
			&__content {
				&--who {
					@include define-a(#626262,14px,14px);
					font-weight: bold;
				}
				&--comment {
					font-size: 14px;
					line-height: 24px;
					margin: 10px 0;
				}
			}
			&__boxrep {
				width: 100%;
				.textarea {
					width: 95%;
					height: 60px;
				}
			}

			&__rep {
				display: flex;
				justify-content: flex-end;
				margin-top: 35px;
				&--btn {
					background: url("images/icon-send.png") no-repeat center;
					width: 38px;
					height: 17px;
					display: block;
				}
				a {
					margin: 0 20px;
				}
			}
		}
	}
}

.boxrep {
	font:normal 14px Ubuntu-Light;
	padding: 10px;
	border: 1px solid #c8c8c8;
	border-radius: 10px;
	color: #626262;
}

@media screen and (max-width: 480px) {
	.comment {
		&__num {
			margin-bottom: 20px;
		}
		&__lists {
			.item {
				margin-bottom: 40px;
				&__img {
					width: 42px;
					height: 42px;
					border-radius: 50%;
					margin-right: 15px;
				}
				&__content {
					&--who {
						@include define-a(#626262,12px,12px);
					}
					&--comment {
						font-size: 12px;
						line-height: 20px;
					}
				}
				&__boxrep {
					.textarea {
						width: 90%;
					}
				}

				&__rep {
					margin-top: 15px;
					a {
						margin: 0 10px;
					}
				}
			}
		}
	}
}