
@media screen and (max-width: 480px) {
	.footer__lists {
		@include reset-ul;
		display: flex;
		flex-wrap: wrap;
		width: inherit;
		height: 80px;
		.item {
		    text-align: center;
    		width: 30%;
			.link {
				@include define-a(#000, 12px, 17px);
				font-family: PD-Regular;
			}
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	.footer__lists {
		@include reset-ul;
		display: flex;
		.item {
			flex-grow: 1;
			text-align: left;
			.link {
				@include define-a(#000, 14px, 17px);
				font-family: PD-Regular;
			}
			&:nth-child(2) {
				flex-grow: 15;
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	.footer__lists {
		@include reset-ul;
		display: flex;
		padding-left: 80px;
		.item {
			flex-grow: 1;
			text-align: left;
			.link {
				@include define-a(#000, 14px, 17px);
				font-family: PD-Regular;
			}
			&:nth-child(2) {
				flex-grow: 15;
			}
		}
	}
}