@media screen and (max-width: 480px) {
	.header {
		display: flex;
		flex-direction: column;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		&__logo {
			a {
				@include define-a(#111,30px,30px);
				font-family: Inconsolata-Bold;
				display: inline;
			}
		}

		&__icon {
			position: absolute;
			top: 0;
			right: 20px;
			a {
				@include define-a(#111,20px,30px);
				font-family: Inconsolata-Bold;
			}
		}

		&__menu {
			display: none;
		}


		.menu_respone {
			@include reset-ul;
			display: flex;
			flex-direction: column;
			li {
				.links {
					@include define-a(#626262,14px,30px);
					font-family: PD-Regular;
					display: inline;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	.header {
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		&__logo {
			a {
				@include define-a(#111,30px,30px);
				font-family: Inconsolata-Bold;
			}
		}

		&__icon {
			display: none;
		}

		&__menu {
			display: flex;
			@include reset-ul;
			width: 70%;
			li {
				margin-left: 10%;
				&:last-child {
					.links {
						padding-right: 0;
					}
				}
			}
			.links {
				@include define-a(#626262,14px,30px);
				font-family: PD-Regular;
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	.header {
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		&__logo {
			a {
				@include define-a(#111,30px,30px);
				font-family: Inconsolata-Bold;
			}
		}

		&__icon {
			display: none;
		}
		&__menu {
			display: flex;
			@include reset-ul;
			li {
				margin-left: 120px;
				&:last-child {
					.links {
						padding-right: 0;
					}
				}
			}
			.links {
				@include define-a(#626262,14px,30px);
				font-family: PD-Regular;
			}
		}
	}
}