.box {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	background: #fff;
	&__img {
		width: 100%;
		.img {
			width: inherit;
		}
	}

	&__content {
		&--title {
			font-size: 16pt;
			margin: 10px 0;
			.link {
				@include define-a(#717171,24px,30px);
			}
		}
		&--description {
			font-size: 14px;
		    line-height: 20px;
		    color: #acaaaa;
		}
	}

	&__social {
		display: flex;
		.link {
			margin-right: 15px;
		}
	}
}

.top-post {
	width: inherit;
	margin-top: 70px;
	&__title {
		font-size: 12px;
	}
	&__list {
		color: #717171;
		margin: 0;
    	padding: 0 0 0 20px;
		h3 {
			margin: 10px 0;
		}
		.link{
			@include define-a(#717171,14px,22px);
		}
		.num-comment {
			font-size: 12px;
		}
	}
}

.advs {
	width: inherit;
	margin-top: 70px;
}

@media screen and (max-width: 480px) {
	.advs {
		display: flex;
		justify-content: center;
	}
}