.slide {
	&__wrapper {
		
	}
	&__caption {
		font-size: 14px;
		margin-bottom: 40px;
		display: block;
	}
	&__lists {
		width: inherit;
		display: flex;
		width: 100%;
		@include reset-ul;
		.item {
			width: 100%;
			&__img {
				width: inherit;
				height: auto;
			}
			&__content {
				a {
					@include define-a(#626262, 20px, 24px);
					font-family: PD-Regular;
				}
			}
		}
		.item:nth-child(2) {
			margin: 0 40px;
		}
	}
}

@media screen and (max-width: 480px) {
	.slide {
		&__wrapper {
			width: 100%;
		}
		&__caption {
			font-size: 12px;
			margin-bottom: 10px;
		}
		&__lists {
			width: inherit;
			display: flex;
			flex-direction: column;
			@include reset-ul;
			.item {
				width: 100%;
				margin-bottom: 40px;
				&__img {
					width: inherit;
					height: auto;
				}
				&__content {
					a {
						@include define-a(#626262, 18px, 24px);
						font-family: PD-Regular;
					}
				}
			}
			.item:nth-child(2) {
				margin: 0 0 40px !important;
			}
		}
	}
}