@font-face {
	font-family: "OS-Regular";
	src: url("../libs/fonts/OpenSans-Regular.ttf");
}

@mixin reset-ul {
	list-style: none;
	padding:0;
	margin:0;
}

@mixin define-a($color,$size,$line-height) {
	display: block;
	text-decoration: none;
	color: $color;
	font-size: $size;
	line-height: $line-height;
}