$font-family: 'Roboto';
$under-line : #e0e0e0;
$content-top-line: #dcdcdc;

.wrapper {
	max-width: 665px;
	margin: 0 auto;
	font-family: $font-family;
	font-size: 11px;
	padding: 10px 0;
	line-height: 20px;
	p {
		margin: 0px;
	}
	.header {
		display: flex;
		justify-content: space-between;
		.header_left {
			display: flex;
			flex-direction: column;
			text-align: left;
			.left__img {
				width: 155px;
				height: auto;
				padding: 2px;
			}
			.left__title {
				font-size: 34px;
				padding: 15px 0 10px;
			}
		}
		.header_right {
			margin-top: 20px;
			text-align: right;
		}
	}
	.imfor {
		margin-top: 20px;
		text-align: left;
	}
	.content {
		margin-top: 20px;
		&__top {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $content-top-line;
			.top__left {
				text-align: left;
				p {
					display: flex;
					line-height: 18px !important;
					span {
						width: 150px;
						overflow: hidden;
						height: 18px;
						white-space:nowrap;
						&:after {
							content:"....................................................";
						}
					}
				} 
			}
			.top__right {
				width: 51%;
				.title {
					display: block;
					widows: 100%;
					line-height: 20px;
					border-bottom: 2px solid $under-line;
				}
				.total {
					border-bottom: 2px solid $under-line;
					&__money {
						display: flex;
						justify-content: space-between;
						padding: 15px 0;
						div {
							text-align: right;
							display: flex;
							flex-direction: column;
							.money {
								font-size: 18px;
							}
							span {
								margin-top: 5px;
							}
						}
					}
				}
				.pay {
					padding: 15px 0 20px;
					p {
						display: flex;
						justify-content: space-between;
						width: 100%;
					}
				}

				.under-line {
					padding-bottom: 5px;
				}
			}
		}
		&__instructions {
			margin-top: 10px;
		}
		&__imfor {
			margin-top: 20px;
			display: flex;
			.bank-address {
				margin: 0 20px;
			}
		}
	}

}