<div class="article">
	<a href="#" title="title-slug" class="article__img">
		<img src="images/boxcontent1.jpg" alt="title-slug">
	</a>
	<a href="#" class="article__cate font-Ub-light">lifestyle</a>
	<h2 class="article__title">
		<a href="#" title="title-slug" class="font-PD-regular">More than just a music festival </a>
	</h2>
	<p class="article__desc font-PD-regular">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
</div>

<div class="article">
	<a href="#" title="title-slug" class="article__img">
		<img src="images/boxcontent2.jpg" alt="title-slug">
	</a>
	<a href="#" class="article__cate font-Ub-light">photodiary</a>
	<h2 class="article__title">
		<a href="#" title="title-slug" class="font-PD-regular">Life tastes better with coffee</a>
	</h2>
	<p class="article__desc font-PD-regular">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
</div>

<div class="article">
	<a href="#" title="title-slug" class="article__img">
		<img src="images/boxcontent3.jpg" alt="title-slug">
	</a>
	<a href="#" class="article__cate font-Ub-light">photodiary</a>
	<h2 class="article__title">
		<a href="#" title="title-slug"  class="font-PD-regular">American dream</a>
	</h2>
	<p class="article__desc font-PD-regular">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
</div>

<div class="article">
	<a href="#" title="title-slug" class="article__img">
		<img src="images/boxcontent4.jpg" alt="title-slug">
	</a>
	<a href="#" class="article__cate font-Ub-light">photodiary</a>
	<h2 class="article__title">
		<a href="#" title="title-slug"  class="font-PD-regular">A day exploring the Alps</a>
	</h2>
	<p class="article__desc font-PD-regular">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
</div>