<div class="comment__wrapper main-container">
	<span class="comment__num font-Ub-light">2 comments</span>
	<ul class="comment__lists">
		<li class="item">
			<img src="images/lifestyle/comment1.jpg" alt="profile" class="item__img">
			<div class="item__content font-PD-regular">
				<a href="#" class="item__content--who">John Doe</a>
				<p class="item__content--comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab facilis incidunt cupiditate ullam, vel veritatis a dolor molestias minima placeat officiis expedita</p>
				<a href="#" class="item__content--rep font-Ub-light">reply</a>
			</div>
		</li>

		<!-- box for reply -->
		<li class="item">
			<img src="images/lifestyle/comment1.jpg" alt="profile" class="item__img">
			<div class="item__boxrep">
				<textarea name="boxrep" class="boxrep textarea" placeholder="JOIN THE DISCUSSTION"></textarea>
				<div class="item__rep">
					<a href="#" class="item__rep--btn"></a>
					<span class="font-Ub-light">CONNET WITH</span>
					<a href="#"><img src="css/images/twitter.png" alt=""></a>
					<a href="#"><img src="css/images/fb.png" alt=""></a>
				</div>
			</div>
		</li>
	</ul>
</div>