<div class="container">
	<ul class="footer__lists">
		<li class="item"><a href="#" class="link">Terms and conditions</a></li>
		<li class="item"><a href="#" class="link">Privacy</a></li>
		<li class="item"><a href="#" class="link">Follow</a></li>
		<li class="item"><a href="#" class="link">
			<img src="css/images/fb.png" alt="">
		</a></li>
		<li class="item"><a href="#" class="link">
			<img src="css/images/instagram.png" alt="">
		</a></li>
		<li class="item"><a href="#" class="link">
			<img src="css/images/twitter.png" alt="">
		</a></li>
	</ul>
</div>