<div class="main__form-sub">
	<h2 class="main__form-sub--title .font-PD-regular">Sign up for our newletter!</h2>
	<form action="#" method="get" accept-charset="utf-8" class="main__form-sub--form">
		<input type="email" placeholder="Enter a valid email address" class="email font-PD-regular">
		<input type="submit" class="submit" value="">
	</form>
</div>