<section class="header">
	<div class="header__logo"><a href="index.php">minimø</a></div>
	<div class="header__icon"><a href="javascript:void(0)" onclick="menuIcon()"><i class="fa fa-bars"></i></a></div>
	<ul class="header__menu">
		<li>
			<a href="index.php?action=lifestyle" class="links">lifestyle</a>
		</li>
		<li>
			<a href="index.php?action=photodiary" class="links">photodiary</a>
		</li>
		<li>
			<a href="#" class="links">music</a>
		</li>
		<li>
			<a href="#" class="links">travel</a>
		</li>
	</ul>
</section>
