<div class="box">
	<a href="#" title="title-slug" class="box__img">
		<img src="images/photodiary/img1.jpg" alt="title-slug" class="img">
	</a>
	<div class="box__content">
		<h4 class="box__content--title">
			<a href="#" class="link">About me</a>
		</h4>
		<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
	</div>
	<div class="box__social">
		<a href="#" class="link">
			<img src="css/images/fb.png" alt="fb">
		</a>
		<a href="#" class="link">
			<img src="css/images/instagram.png" alt="instagram">
		</a>
		<a href="#" class="link">
			<img src="css/images/twitter.png" alt="twitter">
		</a>
	</div>
</div>

<div class="top-post">
	<span class="top-post__title font-Ub-light">Top posts</span>
	<ul class="top-post__list">
		<li class="item">
			<h3 class="news"><a href="#" class="link">Lorem ipsum dolor sit amet</a></h3>
			<span class="num-comment font-Ub-light">2 Comment</span>
		</li>
		<li class="item">
			<h3 class="news"><a href="#" class="link">Lorem ipsum dolor sit amet</a></h3>
			<span class="num-comment font-Ub-light">2 Comment</span>
		</li>
		<li class="item">
			<h3 class="news"><a href="#" class="link">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</a></h3>
			<span class="num-comment font-Ub-light">2 Comment</span>
		</li>
	</ul>
</div>

<div class="advs">
	<a href="#">
		<img src="images/photodiary/advs.jpg" alt="">
	</a>
</div>