<div class="slide__wrapper main-container">
	<span class="slide__caption font-Ub-light">you may also like</span>
	<ul class="slide__lists">
		<li class="item">
			<img src="images/lifestyle/slide1.jpg" alt="" class="item__img">
			<h2 class="item__content"><a href="#">Lorem ipsum dolor sit amet</a></h2>
		</li>

		<li class="item">
			<img src="images/lifestyle/slide2.jpg" alt="" class="item__img">
			<h2 class="item__content"><a href="#">Lorem ipsum dolor sit</a></h2>
		</li>

		<li class="item">
			<img src="images/lifestyle/slide3.jpg" alt="" class="item__img">
			<h2 class="item__content"><a href="#">Lorem ipsum dolor</a></h2>
		</li>
	</ul>
</div>