.wrapper {

  max-width: 665px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 11px;
  padding: 10px 0;
  line-height: 20px; }
  .wrapper p {
    margin: 0px; }
  .wrapper .header {
    display: flex;
    justify-content: space-between; }
    .wrapper .header .header_left {
      display: flex;
      flex-direction: column;
      text-align: left; }
      .wrapper .header .header_left .left__img {
        width: 155px;
        height: auto;
        padding: 2px; }
      .wrapper .header .header_left .left__title {
        font-size: 34px;
        padding: 15px 0 10px; }
    .wrapper .header .header_right {
      margin-top: 20px;
      text-align: right; }
  .wrapper .imfor {
    margin-top: 20px;
    text-align: left; }
  .wrapper .content {
    margin-top: 20px; }
    .wrapper .content__top {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #dcdcdc; }
      .wrapper .content__top .top__left {
        text-align: left; }
        .wrapper .content__top .top__left p {
          display: flex;
          line-height: 18px !important; }
          .wrapper .content__top .top__left p span {
            width: 150px;
            overflow: hidden;
            height: 18px;
            white-space: nowrap; }
            .wrapper .content__top .top__left p span:after {
              content: "...................................................."; }
      .wrapper .content__top .top__right {
        width: 51%; }
        .wrapper .content__top .top__right .title {
          display: block;
          widows: 100%;
          line-height: 20px;
          border-bottom: 2px solid #e0e0e0; }
        .wrapper .content__top .top__right .total {
          border-bottom: 2px solid #e0e0e0; }
          .wrapper .content__top .top__right .total__money {
            display: flex;
            justify-content: space-between;
            padding: 15px 0; }
            .wrapper .content__top .top__right .total__money div {
              text-align: right;
              display: flex;
              flex-direction: column; }
              .wrapper .content__top .top__right .total__money div .money {
                font-size: 18px; }
              .wrapper .content__top .top__right .total__money div span {
                margin-top: 5px; }
        .wrapper .content__top .top__right .pay {
          padding: 15px 0 20px; }
          .wrapper .content__top .top__right .pay p {
            display: flex;
            justify-content: space-between;
            width: 100%; }
        .wrapper .content__top .top__right .under-line {
          padding-bottom: 5px; }
    .wrapper .content__instructions {
      margin-top: 10px; }
    .wrapper .content__imfor {
      margin-top: 20px;
      display: flex; }
      .wrapper .content__imfor .bank-address {
        margin: 0 20px; }

/*# sourceMappingURL=index.css.map */
