@import "mixin/mixin";
@import "partials/header";
@import "partials/box";

body {
	margin: 0 !important;
	background: #f0efee;
}

.container {
	margin: 0 auto;
}

.wrapper {
	font-family: OS-Regular;
	.header {
		background: #fff url("images/border.png") repeat-x top;
		border-bottom: 1px solid #d6d5d4;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 10;
	}
	.main {
		padding: 50px 0;
		min-height: 2000px;
	}
}

@media screen and (max-width: 480px) {
	.header, .main {
		padding: 0 20px !important;
	}
}