$box-width: 600px;

.container {
	width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #a64bf4;
    background: linear-gradient(45deg,#00dbde,#fc00ff);
    box-sizing: border-box;
}
.form_wrapper {
	width: $box-width;
	height: auto;
	padding: 42px 55px 45px;
	background: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	.form {
		display: flex;
		flex-direction: column;
		&__header {
			display: block;
			width: 100%;
			text-align: center;
			font-family: 'Poppins-Bold', sans-serif;
			font-size: 39px;
			font-weight: 700;
		    color: #333;
		    line-height: 1.2;
		    padding-bottom: 45px;
		}
		&__item {
			width: 100%;
		    border-bottom: 2px solid #d9d9d9;
		    padding-bottom: 13px;
		    margin-bottom: 47px;
		    position: relative;
			.label {
				font-family: 'Poppins';
				font-size: 13px;
			    color: #666;
			    line-height: 1.5;
			    padding-left: 5px;
			}
			.input {
				width: 100%;
				height: 40px;
			    background: 0 0;
			    font-family: 'Poppins';
			    font-weight: 400;
			    font-size: 18px;
			    color: #333;
			    line-height: 1.2;
				border: none;
				outline: none;
				&:focus+.focus-input::before {
					width: 100%;
				}
				&:focus+.focus-input::after {
					top: -25px;
				}
			}
			.focus-input {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			    pointer-events: none;
				&::before {
					content: '';
					display: block;
					width: 0%;
					height: 2px;
					background: -webkit-linear-gradient(left, #fc00ff, #00dbde);
					position: absolute;
					bottom: -2px;
					left: 0;
					transition: .4s;
				}
				&::after {
					content: attr(data-title);
					display: block;
					width: 100%;
					height: auto;
					position: absolute;
					top: 7px;
					left: 0;
					font-size: 13px;
					font-family: 'Poppins';
					text-transform: uppercase;
					color: #999;
				}
			}
			.input-validate {
				position: absolute;
			    top: 0;
			    right: 0;
			    pointer-events: none;
			    color:#c80000;
			    font-family: 'Poppins';
			    opacity: 1;
			    transition: .4s;
			    font-size: 13px;
			}
			.textarea {
				height: 100px;
				padding: 10px 0;
			}

		}
		&__submit {
			width: 50%;
			height: 40px;
		    display: block;
		    position: relative;
		    z-index: 1;
		    border-radius: 25px;
		    overflow: hidden;
		    margin: 0 auto;
		    .overflow {
		    	display: block;
		    	position: absolute;
		    	width: 300%;
		    	height: 100%;
		    	left: -100%;
		    	top: 0;
		    	z-index: -1;
		    	background: -webkit-linear-gradient(left,#00dbde,#fc00ff,#00dbde,#fc00ff);
		    	transition: .4s;
		    }
		    .btnSubmit {
	    		width: 100%;
	    		height: 100%;
				display: block;
				position: absolute;		 
				background: transparent;
				border: none;
				color: #fff;
				font-size: 18px;
			}
		}
	}
}

.has-val.input+.focus-input::after {
	top: -25px;
}

.has-val.input+.focus-input::before {
	width: 100%;
}

.alert-validate::after{
	content:"\f12a";
	font-family:FontAwesome;
	display:block;
	position:absolute;
	color:#c80000;
	font-size:16px;
	top:58%;
	right:8px;
	z-index: 4;
	transform:translateY(-50%);
}

.alert-validate::before{
	content:attr(data-validate);
	display:block;
	position:absolute;
	color:#c80000;
	font-size:16px;
	top:58%;
	right:0px;
	transition: .4s;
	opacity: 0;
	transform:translateY(-50%);
	border: 1px solid #c80000;
	border-radius: 3px;
	padding: 5px 20px 5px 5px;
	background: #fff;
	z-index: 3;
	pointer-events: none;
}
.alert-validate:hover:before{
	visibility:visible;
	opacity:1
}

@media screen and (max-width: 480px) {
	.form_wrapper {
		width: 100%;
		padding: 20px;
	}
}