@import "mixin/mixin";
@import "component/header";
@import "component/boxcontent";
@import "component/footer";

$bg: #f0f0f0;

body {
	margin:0;
}

.font-PD-regular {
	font-family: PD-Regular;
	color: #626262;
}


.font-Ub-light {
	font-family: Ubuntu-Light;
	color: #b4ad9e;
	text-transform: uppercase;
}

//phone
@media only screen and (max-device-width: 480px) {
	.container, .main-container {
		width: 100%;
		margin: 0 auto;
		padding: 20px;
		box-sizing: border-box;
	}

	.font-Ub-light  {
		font-size: 12px;
	}

	#wrapper {
		#header {
			width: 100%;
			padding: 25px 0;
		}

		.banner {
			width: 100%;
			height: auto;
			&__img {
				width: 100%;
			}
		}

		.main {
			&__top {
				padding-top: 40px;
				.text-story {
					&__title {
						font-size: 25px;
						margin: 0px;
						padding: 10px 0;
					}
					&__content {
						font-size: 12px;
						line-height: 24px;
						margin: 0;
					}
					&__note {
						margin: 20px 0;
						display: block;
					}
				}

				.box-story {
					display: flex;
					flex-direction: column;
				}
			}

			&__form-sub {
				background: $bg;
				text-align: center;
				padding-bottom: 30px;
				&--title {
					font-size: 25px;
					color: #333;
					padding: 30px;
					margin: 0;
				}
				&--form {
					position: relative;
					.email {
						background: #f0f0f0;
						width: 80%;
						padding: 15px 5px;
						border: none;
						border-bottom: 1px solid #000;
						font-size: 12px;
					}
					.submit {
						cursor: pointer;
						position: absolute;
						top: 20px;
						right: 30px;
						width: 32px;
						height: 17px;
						border: none;
						background: url("images/icon-send.png") no-repeat center;
					}
				}
			}

			&__load-more {
				display: flex;
				justify-content: center;
				margin: 50px 0;
				&--btn {
					display: block;
					padding: 10px 25px;
					border: 1px solid #626262;
					font-size: 12px;
					color: #626262;
					background: #fff;
				}
			}
		}
		
		.footer {
			background: $bg;
			width: 100%;
		}
	}
}

//tablet
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
	.font-Ub-light  {
		font-size: 14px;
	}

	.container {
		width: 80%;
		margin: 0 auto;
	}

	.main-container {
		width: 80%;
		margin: 0 auto;
	}

	#wrapper {
		width: 100%;
		height: auto;
		#header {
			padding: 75px 0;
		}

		.banner {
			width: 100%;
			height: auto;
			&__img {
				width: 100%;
			}
		}

		.main {
			&__top {
				padding-top: 100px;
				.text-story {
					&__title {
						font-size: 30px;
						margin: 0px;
						padding: 28px 0 34px;
					}
					&__content {
						font-size: 14px;
						line-height: 24px;
						margin: 0;
					}
					&__note {
						margin: 50px 0;
						display: block;
					}
				}

				.box-story {
					display: flex;
					flex-wrap: wrap;
				}
			}

			&__form-sub {
				background: $bg;
				text-align: center;
				padding-bottom: 74px;
				&--title {
					font-size: 30px;
					color: #333;
					padding: 72px;
					margin: 0;
				}
				&--form {
					position: relative;
					.email {
						background: #f0f0f0;
						width: 40%;
						padding: 15px 5px;
						border: none;
						border-bottom: 1px solid #000;
						font-size: 14px;
					}
					.submit {
						cursor: pointer;
						position: absolute;
						top: 20px;
						right: 29%;
						width: 32px;
						height: 17px;
						border: none;
						background: url("images/icon-send.png") no-repeat center;
					}
				}
			}

			&__load-more {
				display: flex;
				justify-content: center;
				margin: 50px 0;
				&--btn {
					display: block;
					padding: 10px 25px;
					border: 1px solid #626262;
					font-size: 14px;
					color: #626262;
					background: #fff;
				}
			}
		}
		
		.footer {
			background: $bg;
			padding: 40px 0;
		}
	}
}

// destop
@media only screen and (min-device-width: 1025px) {
	.font-Ub-light  {
		font-size: 14px;
	}

	.container {
		width: 1060px;
		margin: 0 auto;
	}

	.main-container {
		width: 900px;
		margin: 0 auto;
	}

	#wrapper {
		width: 100%;
		height: auto;
		#header {
			padding: 75px 0;
		}

		.main {
			&__top {
				padding-top: 100px;
				.text-story {
					&__title {
						font-size: 30px;
						margin: 0px;
						padding: 28px 0 34px;
					}
					&__content {
						font-size: 14px;
						line-height: 24px;
						margin: 0;
					}
					&__note {
						margin: 50px 0;
						display: block;
					}
				}

				.box-story {
					display: flex;
					flex-wrap: wrap;
				}
			}

			&__form-sub {
				background: $bg;
				text-align: center;
				padding-bottom: 74px;
				&--title {
					font-size: 30px;
					color: #333;
					padding: 72px;
					margin: 0;
				}
				&--form {
					position: relative;
					.email {
						background: #f0f0f0;
						width: 25%;
						padding: 15px 5px;
						border: none;
						border-bottom: 1px solid #000;
						font-size: 14px;
					}
					.submit {
						cursor: pointer;
						position: absolute;
						top: 20px;
						right: 37%;
						width: 32px;
						height: 17px;
						border: none;
						background: url("images/icon-send.png") no-repeat center;
					}
				}
			}

			&__load-more {
				display: flex;
				justify-content: center;
				margin: 50px 0;
				&--btn {
					display: block;
					padding: 20px 35px;
					border: 1px solid #626262;
					font-size: 20px;
					color: #626262;
					background: #fff;
				}
			}
		}
		
		.footer {
			background: $bg;
			padding: 40px 0;
		}
	}
}

