@import "mixin/mixin";
@import "component/slide";
@import "component/comment";

$bg: #f0f0f0;

.font-PD-italic {
	font-family: PD-Italic;
	color: #626262;
}

.main__top {
	.text-story {
		line-height: 24px;
		.life-style__img {
			margin: 30px 0;
		}

		.life-style__share {
			display: flex;
			justify-content: flex-end;
			margin: 70px 0;
			a {
				margin-left: 20px;
			}
		}
	}
}

.main__slide {
	background: $bg;
	margin: 70px 0;
	padding: 70px 0;
}

@media screen and (max-width: 1024px) {
	.main__top {
		.text-story {
			.life-style__img {
				width: 100%
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.main__top {
		.text-story {
			font-size: 12px;
			.life-style__share {
				margin: 30px 0 !important;
			}
		}
	}

	.main__slide {
		margin: 0 0 30px !important;
		padding: 10px 0;
	}
}