@import "mixin/mixin";
@import "component/slide";
@import "component/comment";
@import "component/sidebar";

$bg: #f0f0f0;

.font-PD-italic {
	font-family: PD-Italic;
	color: #626262;
}

.photodiary {
	.main__top {
		padding-left: 80px;
		display: flex;
		.text-story {
			width: 664px;
		}
	}
}

.main__top {
	box-sizing: border-box;
	.text-story {
		width: 100%;
		line-height: 24px;
		margin-right: 40px;
		.life-style__img {
			width: 100%;
			margin: 30px 0;
		}

		.life-style__share {
			display: flex;
			justify-content: flex-end;
			margin: 70px 0;
			a {
				margin-left: 20px;
			}
		}
	}
	.sidebar {
		width: 276px;
		font-family: PD-Regular;
	}
}

.main__slide {
	background: $bg;
	margin: 70px 0;
	padding: 70px 0;
}

@media screen and (max-width: 1024px) {
	.photodiary {
		.main__top {
			padding: 0 20px;
			.text-story {
				width: 100%;
				.life-style__img {
					width: 100%;
				}
			}
			.sidebar {
				width: 100%;
			}
		}
	}
	
}

@media screen and (max-width: 480px) {
	.photodiary  {
		.main__top {
			flex-direction: column;
			padding: 20px;
			.text-story {
				font-size: 12px;
				.life-style__share {
					margin: 30px 0 !important;
				}
			}
		}
	}

	.main__slide {
		margin: 0 0 30px !important;
		padding: 10px 0;
	}
}