<div class="container" id="main">
	<ul class="main__wrapper" id="tiles">
		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img2.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img3.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img4.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img1.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<!-- row 2 -->
		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img4.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img1.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img2.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img4.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img2.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img3.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img4.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img1.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img3.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img4.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img1.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<!-- row 2 -->
		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img4.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img1.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img2.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>

		<li class="box">
			<a href="#" title="title-slug" class="box__img">
				<img src="images/img4.jpg" alt="title-slug" class="img">
			</a>
			<div class="box__content">
				<h4 class="box__content--title">
					<a href="#" class="link">Animation films</a>
				</h4>
				<div class="box__content--map">
					<a href="#">
						<label class="icon"></label>
						<span class="cate">Movies</span>
					</a>				
				</div>
				<p class="box__content--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum cupiditate, quod eos? Quis sequi labore, cupiditate eius dolor tempora temporibus.</p>
			</div>
			<div class="box__rate">
				<span class="star"></span>
				<span class="fb"></span>
			</div>
		</li>
	</ul>
</div>
<script>
	var main = window;
	var item = document.querySelectorAll("ul#tiles>li");
	var margin = 20;
	var itemWidth = item[0].offsetWidth;
	
	function findColumn(mainEle,item, margin) {
		let col = [];
		for(let i=0; i<Math.ceil(mainEle.innerWidth/(item+margin)); i++) { //tìm số cột
			col[i] = (item+margin) * i;
			if (col[i]+item>(mainEle.innerWidth/100)*90) {
				col.pop();
				break;
			}
		}
		document.getElementById("main").style.width = Math.max(...col)+item+"px";//set width
		return col;
	}
	function sort() {
		let rows = [];
		var col = findColumn(main,itemWidth, margin);
		item.forEach(function(a,b){
			if(b<col.length) { // dòng đầu tiên không kiểm tra, đổ dử liệu ra bình thường
				rows[b] = a.offsetHeight; // nạp các giá trị chiều cao vào 1 mảng tạm
				a.style.left = col[b] + "px";
				a.style.top = 0;
			} else {
				let indexMin = 0; //vị trí có phần tử thấp nhất
				let valueMin = rows[0]; //giá trị 
				rows.forEach(function(i,j){ //kiểm tra xem vị trí nào cách top thấp nhất thông qua mảng rows
					if(valueMin>i) {valueMin=i; indexMin =j;}
				})
				a.style.left = col[indexMin] + "px";
				a.style.top = valueMin + margin + "px";
				rows[indexMin] = valueMin + margin + a.offsetHeight;
			}
		});
	}

	$(document).ready(function() {
		sort();
		$(window).resize(function(){
            sort();
        });
	})

</script>