<!-- menu -->
<div class="menu__wrapper">
	<nav class="menu">
		<ul class="menu__lists">
			<li class="item"><a href="#" class="link">Home</a></li>
			<li class="item"><a href="#" class="link">News</a></li>
			<li class="item"><a href="#" class="link">Flims</a></li>
			<li class="item"><a href="#" class="link">about</a></li>
			<li class="item"><a href="#" class="link">contact</a></li>
			<li class="item"><a href="#" class="link">Home</a></li>
		</ul>
		<a href="#" class="link icon-close"></a>
	</nav>
</div>

<div class="header__wrapper container">
	<!-- section will display replace the menu -->
	<div class="top">
		<div class="top__logo">
			<a href="#">
				<img src="images/logo.png" alt="logo">
			</a>
		</div>
		<a href="#" class="top__icon-menu"></a>
		<form action="#" method="get" class="top__fr-search">
			<input type="text" name="search" placeholder="search" class="input">
			<input type="submit" value="" class="btn-search">
		</form>
		<div class="top__user">
			<a href="#" class="link">
				<img src="images/user.png" alt="user image" class="img">
				<span class="name">khongsung</span>
			</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	document.getElementsByClassName("top__icon-menu")[0].onclick=function() {
		document.querySelectorAll("div.menu__wrapper")[0].className += " menu__wrapper--show";
	}
	document.getElementsByClassName("icon-close")[0].onclick=function() {
		document.querySelectorAll("div.menu__wrapper")[0].className = "menu__wrapper";
	}
</script>