@charset "UTF-8";
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Regular.ttf"); }
@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.ttf"); }
body {
  margin: 0; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 40px;
  box-sizing: border-box; }
  .wrapper .map {
    width: 200%;
    height: 100%;
    background: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .wrapper .contact {
    width: 600px;
    margin: auto;
    border-radius: 7px;
    overflow: hidden;
    box-sizing: border-box; }
    .wrapper .contact .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: url("images/bg-01.jpg") no-repeat center;
      padding: 64px 15px 64px 15px;
      position: relative;
      z-index: 1; }
      .wrapper .contact .header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); }
      .wrapper .contact .header__title {
        font-family: "Poppins-Bold";
        font-size: 20px;
        padding-bottom: 7px; }
      .wrapper .contact .header__sologan {
        font-family: "Poppins-Regular";
        font-size: 15px; }
    .wrapper .contact .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      box-sizing: border-box;
      background: #fff;
      font-family: "Poppins-Regular";
      padding: 43px 88px 57px 190px; }
      .wrapper .contact .form .item {
        width: 100%;
        margin-bottom: 40px;
        position: relative;
        border-bottom: 1px solid #ccc;
        padding-bottom: 8px;
        font-size: 15px;
        line-height: 1.2; }
        .wrapper .contact .form .item__label {
          position: absolute;
          left: -100px;
          top: 4px;
          display: block;
          width: 80px;
          color: gray;
          text-align: right; }
        .wrapper .contact .form .item__input {
          width: 100%;
          padding: 5px;
          border: none;
          outline: none;
          font-family: "Poppins-Regular";
          font-size: 15px;
          line-height: 1.2;
          color: #555; }
          .wrapper .contact .form .item__input:focus + .item__input-focus::before {
            width: 100%; }
        .wrapper .contact .form .item__input-focus {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none; }
          .wrapper .contact .form .item__input-focus::before {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            position: absolute;
            bottom: -1px;
            left: 0;
            background: green;
            transition: .4s; }
        .wrapper .contact .form .item__textarea {
          font-family: "Poppins-Regular";
          line-height: 1.2;
          padding: 5px; }
      .wrapper .contact .form .btn {
        width: 100%;
        height: 100%; }
        .wrapper .contact .form .btn .btn-wrap {
          width: auto;
          position: relative; }
        .wrapper .contact .form .btn__submit {
          min-width: 160px;
          min-height: 55px;
          display: inline-block;
          border: none;
          border-radius: 30px;
          background: #57b846;
          cursor: pointer;
          transition: .4s; }
          .wrapper .contact .form .btn__submit:hover {
            background: #333; }
          .wrapper .contact .form .btn__submit:hover + .btn__icon::after {
            right: -65%; }
        .wrapper .contact .form .btn__icon {
          position: absolute;
          top: 23%;
          left: 10%;
          color: #fff;
          font-size: 18px;
          pointer-events: none; }
          .wrapper .contact .form .btn__icon::after {
            content: '➜';
            position: absolute;
            top: 6%;
            right: -45%;
            transition: .4s; }

.alert-validate::before {
  content: '!';
  display: block;
  position: absolute;
  top: 6px;
  right: 8px;
  color: #c80000;
  font-size: 16px;
  font-weight: 700;
  z-index: 3; }

.alert-validate::after {
  content: attr(data-validate);
  display: block;
  background: #fff;
  position: absolute;
  top: 5%;
  right: 0px;
  color: #c80000;
  font-size: 13px;
  border: 1px solid #c80000;
  border-radius: 4px;
  padding: 5px 20px 5px 5px;
  opacity: 0;
  transition: .4s;
  pointer-events: none; }

.alert-validate:hover:after {
  opacity: 1; }

@media screen and (max-width: 480px) {
  .contact {
    width: 100% !important; }
    .contact .header {
      padding: 30px 0 !important; }
    .contact .form {
      padding: 40px 20px 20px !important; }
      .contact .form .item {
        margin-top: 20px; }
        .contact .form .item__label {
          text-align: left !important;
          left: 5px !important;
          top: -25px !important; }
      .contact .form .btn {
        display: flex;
        justify-content: center; }
        .contact .form .btn__icon {
          left: 20% !important; } }

/*# sourceMappingURL=form3.css.map */
