@font-face {
  font-family: "PD-Regular";
  src: url("../libs/fonts/PlayfairDisplay-Regular.ttf"); }
@font-face {
  font-family: "PD-Italic";
  src: url("../libs/fonts/PlayfairDisplay-Italic.ttf"); }
@font-face {
  font-family: "Inconsolata-Bold";
  src: url("../libs/fonts/Inconsolata-Bold.ttf"); }
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../libs/fonts/Ubuntu-Light.ttf"); }
@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    position: relative; }
    .header__logo a {
      display: block;
      text-decoration: none;
      color: #111;
      font-size: 30px;
      line-height: 30px;
      font-family: Inconsolata-Bold;
      display: inline; }
    .header__icon {
      position: absolute;
      top: 0;
      right: 20px; }
      .header__icon a {
        display: block;
        text-decoration: none;
        color: #111;
        font-size: 20px;
        line-height: 30px;
        font-family: Inconsolata-Bold; }
    .header__menu {
      display: none; }
    .header .menu_respone {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column; }
      .header .menu_respone li .links {
        display: block;
        text-decoration: none;
        color: #626262;
        font-size: 14px;
        line-height: 30px;
        font-family: PD-Regular;
        display: inline; }
        .header .menu_respone li .links:hover {
          text-decoration: underline; } }
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase; }
    .header__logo a {
      display: block;
      text-decoration: none;
      color: #111;
      font-size: 30px;
      line-height: 30px;
      font-family: Inconsolata-Bold; }
    .header__icon {
      display: none; }
    .header__menu {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 70%; }
      .header__menu li {
        margin-left: 10%; }
        .header__menu li:last-child .links {
          padding-right: 0; }
      .header__menu .links {
        display: block;
        text-decoration: none;
        color: #626262;
        font-size: 14px;
        line-height: 30px;
        font-family: PD-Regular; } }
@media screen and (min-width: 1025px) {
  .header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase; }
    .header__logo a {
      display: block;
      text-decoration: none;
      color: #111;
      font-size: 30px;
      line-height: 30px;
      font-family: Inconsolata-Bold; }
    .header__icon {
      display: none; }
    .header__menu {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0; }
      .header__menu li {
        margin-left: 120px; }
        .header__menu li:last-child .links {
          padding-right: 0; }
      .header__menu .links {
        display: block;
        text-decoration: none;
        color: #626262;
        font-size: 14px;
        line-height: 30px;
        font-family: PD-Regular; } }
@media screen and (max-width: 480px) {
  .article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 25px 0; }
    .article__img {
      display: block;
      width: 100%; }
      .article__img img {
        width: 100%; }
    .article__cate {
      text-decoration: none;
      padding: 10px 0; }
    .article__title {
      margin: 0; }
      .article__title a {
        text-decoration: none;
        font-size: 25px; }
        .article__title a:hover {
          color: #555;
          transition: .4s; }
    .article__desc {
      margin: 20px 0;
      font-size: 12px;
      line-height: 24px;
      color: #444; }
    .article:nth-child(odd) {
      margin-right: 60px; } }
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .article {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 35px 0; }
    .article__img {
      display: block;
      width: 100%; }
      .article__img img {
        width: inherit;
        height: inherit; }
    .article__cate {
      text-decoration: none;
      padding: 30px 0; }
    .article__title {
      margin: 0; }
      .article__title a {
        text-decoration: none;
        font-size: 30px; }
        .article__title a:hover {
          color: #555;
          transition: .4s; }
    .article__desc {
      margin: 40px 0;
      font-size: 14px;
      line-height: 24px;
      color: #444; }
    .article:nth-child(odd) {
      margin-right: 6%; } }
@media screen and (min-width: 1025px) {
  .article {
    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 35px 0; }
    .article__img {
      display: block;
      width: inherit; }
      .article__img img {
        width: inherit;
        height: inherit; }
    .article__cate {
      text-decoration: none;
      padding: 30px 0; }
    .article__title {
      margin: 0; }
      .article__title a {
        text-decoration: none;
        font-size: 30px; }
        .article__title a:hover {
          color: #555;
          transition: .4s; }
    .article__desc {
      margin: 40px 0;
      font-size: 14px;
      line-height: 24px;
      color: #444; }
    .article:nth-child(odd) {
      margin-right: 60px; } }
@media screen and (max-width: 480px) {
  .footer__lists {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    height: 80px; }
    .footer__lists .item {
      text-align: center;
      width: 30%; }
      .footer__lists .item .link {
        display: block;
        text-decoration: none;
        color: #000;
        font-size: 12px;
        line-height: 17px;
        font-family: PD-Regular; } }
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer__lists {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; }
    .footer__lists .item {
      flex-grow: 1;
      text-align: left; }
      .footer__lists .item .link {
        display: block;
        text-decoration: none;
        color: #000;
        font-size: 14px;
        line-height: 17px;
        font-family: PD-Regular; }
      .footer__lists .item:nth-child(2) {
        flex-grow: 15; } }
@media screen and (min-width: 1025px) {
  .footer__lists {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-left: 80px; }
    .footer__lists .item {
      flex-grow: 1;
      text-align: left; }
      .footer__lists .item .link {
        display: block;
        text-decoration: none;
        color: #000;
        font-size: 14px;
        line-height: 17px;
        font-family: PD-Regular; }
      .footer__lists .item:nth-child(2) {
        flex-grow: 15; } }
body {
  margin: 0; }

.font-PD-regular {
  font-family: PD-Regular;
  color: #626262; }

.font-Ub-light {
  font-family: Ubuntu-Light;
  color: #b4ad9e;
  text-transform: uppercase; }

@media only screen and (max-device-width: 480px) {
  .container, .main-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; }

  .font-Ub-light {
    font-size: 12px; }

  #wrapper #header {
    width: 100%;
    padding: 25px 0; }
  #wrapper .banner {
    width: 100%;
    height: auto; }
    #wrapper .banner__img {
      width: 100%; }
  #wrapper .main__top {
    padding-top: 40px; }
    #wrapper .main__top .text-story__title {
      font-size: 25px;
      margin: 0px;
      padding: 10px 0; }
    #wrapper .main__top .text-story__content {
      font-size: 12px;
      line-height: 24px;
      margin: 0; }
    #wrapper .main__top .text-story__note {
      margin: 20px 0;
      display: block; }
    #wrapper .main__top .box-story {
      display: flex;
      flex-direction: column; }
  #wrapper .main__form-sub {
    background: #f0f0f0;
    text-align: center;
    padding-bottom: 30px; }
    #wrapper .main__form-sub--title {
      font-size: 25px;
      color: #333;
      padding: 30px;
      margin: 0; }
    #wrapper .main__form-sub--form {
      position: relative; }
      #wrapper .main__form-sub--form .email {
        background: #f0f0f0;
        width: 80%;
        padding: 15px 5px;
        border: none;
        border-bottom: 1px solid #000;
        font-size: 12px; }
      #wrapper .main__form-sub--form .submit {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 30px;
        width: 32px;
        height: 17px;
        border: none;
        background: url("images/icon-send.png") no-repeat center; }
  #wrapper .main__load-more {
    display: flex;
    justify-content: center;
    margin: 50px 0; }
    #wrapper .main__load-more--btn {
      display: block;
      padding: 10px 25px;
      border: 1px solid #626262;
      font-size: 12px;
      color: #626262;
      background: #fff; }
  #wrapper .footer {
    background: #f0f0f0;
    width: 100%; } }
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .font-Ub-light {
    font-size: 14px; }

  .container {
    width: 80%;
    margin: 0 auto; }

  .main-container {
    width: 80%;
    margin: 0 auto; }

  #wrapper {
    width: 100%;
    height: auto; }
    #wrapper #header {
      padding: 75px 0; }
    #wrapper .banner {
      width: 100%;
      height: auto; }
      #wrapper .banner__img {
        width: 100%; }
    #wrapper .main__top {
      padding-top: 100px; }
      #wrapper .main__top .text-story__title {
        font-size: 30px;
        margin: 0px;
        padding: 28px 0 34px; }
      #wrapper .main__top .text-story__content {
        font-size: 14px;
        line-height: 24px;
        margin: 0; }
      #wrapper .main__top .text-story__note {
        margin: 50px 0;
        display: block; }
      #wrapper .main__top .box-story {
        display: flex;
        flex-wrap: wrap; }
    #wrapper .main__form-sub {
      background: #f0f0f0;
      text-align: center;
      padding-bottom: 74px; }
      #wrapper .main__form-sub--title {
        font-size: 30px;
        color: #333;
        padding: 72px;
        margin: 0; }
      #wrapper .main__form-sub--form {
        position: relative; }
        #wrapper .main__form-sub--form .email {
          background: #f0f0f0;
          width: 40%;
          padding: 15px 5px;
          border: none;
          border-bottom: 1px solid #000;
          font-size: 14px; }
        #wrapper .main__form-sub--form .submit {
          cursor: pointer;
          position: absolute;
          top: 20px;
          right: 29%;
          width: 32px;
          height: 17px;
          border: none;
          background: url("images/icon-send.png") no-repeat center; }
    #wrapper .main__load-more {
      display: flex;
      justify-content: center;
      margin: 50px 0; }
      #wrapper .main__load-more--btn {
        display: block;
        padding: 10px 25px;
        border: 1px solid #626262;
        font-size: 14px;
        color: #626262;
        background: #fff; }
    #wrapper .footer {
      background: #f0f0f0;
      padding: 40px 0; } }
@media only screen and (min-device-width: 1025px) {
  .font-Ub-light {
    font-size: 14px; }

  .container {
    width: 1060px;
    margin: 0 auto; }

  .main-container {
    width: 900px;
    margin: 0 auto; }

  #wrapper {
    width: 100%;
    height: auto; }
    #wrapper #header {
      padding: 75px 0; }
    #wrapper .main__top {
      padding-top: 100px; }
      #wrapper .main__top .text-story__title {
        font-size: 30px;
        margin: 0px;
        padding: 28px 0 34px; }
      #wrapper .main__top .text-story__content {
        font-size: 14px;
        line-height: 24px;
        margin: 0; }
      #wrapper .main__top .text-story__note {
        margin: 50px 0;
        display: block; }
      #wrapper .main__top .box-story {
        display: flex;
        flex-wrap: wrap; }
    #wrapper .main__form-sub {
      background: #f0f0f0;
      text-align: center;
      padding-bottom: 74px; }
      #wrapper .main__form-sub--title {
        font-size: 30px;
        color: #333;
        padding: 72px;
        margin: 0; }
      #wrapper .main__form-sub--form {
        position: relative; }
        #wrapper .main__form-sub--form .email {
          background: #f0f0f0;
          width: 25%;
          padding: 15px 5px;
          border: none;
          border-bottom: 1px solid #000;
          font-size: 14px; }
        #wrapper .main__form-sub--form .submit {
          cursor: pointer;
          position: absolute;
          top: 20px;
          right: 37%;
          width: 32px;
          height: 17px;
          border: none;
          background: url("images/icon-send.png") no-repeat center; }
    #wrapper .main__load-more {
      display: flex;
      justify-content: center;
      margin: 50px 0; }
      #wrapper .main__load-more--btn {
        display: block;
        padding: 20px 35px;
        border: 1px solid #626262;
        font-size: 20px;
        color: #626262;
        background: #fff; }
    #wrapper .footer {
      background: #f0f0f0;
      padding: 40px 0; } }

/*# sourceMappingURL=index.css.map */
