@font-face {
  font-family: "PD-Regular";
  src: url("../libs/fonts/PlayfairDisplay-Regular.ttf"); }
@font-face {
  font-family: "PD-Italic";
  src: url("../libs/fonts/PlayfairDisplay-Italic.ttf"); }
@font-face {
  font-family: "Inconsolata-Bold";
  src: url("../libs/fonts/Inconsolata-Bold.ttf"); }
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../libs/fonts/Ubuntu-Light.ttf"); }
.slide__caption {
  font-size: 14px;
  margin-bottom: 40px;
  display: block; }
.slide__lists {
  width: inherit;
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0; }
  .slide__lists .item {
    width: 100%; }
    .slide__lists .item__img {
      width: inherit;
      height: auto; }
    .slide__lists .item__content a {
      display: block;
      text-decoration: none;
      color: #626262;
      font-size: 20px;
      line-height: 24px;
      font-family: PD-Regular; }
  .slide__lists .item:nth-child(2) {
    margin: 0 40px; }

@media screen and (max-width: 480px) {
  .slide__wrapper {
    width: 100%; }
  .slide__caption {
    font-size: 12px;
    margin-bottom: 10px; }
  .slide__lists {
    width: inherit;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0; }
    .slide__lists .item {
      width: 100%;
      margin-bottom: 40px; }
      .slide__lists .item__img {
        width: inherit;
        height: auto; }
      .slide__lists .item__content a {
        display: block;
        text-decoration: none;
        color: #626262;
        font-size: 18px;
        line-height: 24px;
        font-family: PD-Regular; }
    .slide__lists .item:nth-child(2) {
      margin: 0 0 40px !important; } }
.comment__num {
  margin-bottom: 40px;
  display: block; }
.comment__lists {
  list-style: none;
  padding: 0;
  margin: 0; }
  .comment__lists .item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px; }
    .comment__lists .item__img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin-right: 35px; }
    .comment__lists .item__content--who {
      display: block;
      text-decoration: none;
      color: #626262;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold; }
    .comment__lists .item__content--comment {
      font-size: 14px;
      line-height: 24px;
      margin: 10px 0; }
    .comment__lists .item__boxrep {
      width: 100%; }
      .comment__lists .item__boxrep .textarea {
        width: 95%;
        height: 60px; }
    .comment__lists .item__rep {
      display: flex;
      justify-content: flex-end;
      margin-top: 35px; }
      .comment__lists .item__rep--btn {
        background: url("images/icon-send.png") no-repeat center;
        width: 38px;
        height: 17px;
        display: block; }
      .comment__lists .item__rep a {
        margin: 0 20px; }

.boxrep {
  font: normal 14px Ubuntu-Light;
  padding: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  color: #626262; }

@media screen and (max-width: 480px) {
  .comment__num {
    margin-bottom: 20px; }
  .comment__lists .item {
    margin-bottom: 40px; }
    .comment__lists .item__img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin-right: 15px; }
    .comment__lists .item__content--who {
      display: block;
      text-decoration: none;
      color: #626262;
      font-size: 12px;
      line-height: 12px; }
    .comment__lists .item__content--comment {
      font-size: 12px;
      line-height: 20px; }
    .comment__lists .item__boxrep .textarea {
      width: 90%; }
    .comment__lists .item__rep {
      margin-top: 15px; }
      .comment__lists .item__rep a {
        margin: 0 10px; } }
.font-PD-italic {
  font-family: PD-Italic;
  color: #626262; }

.main__top .text-story {
  line-height: 24px; }
  .main__top .text-story .life-style__img {
    margin: 30px 0; }
  .main__top .text-story .life-style__share {
    display: flex;
    justify-content: flex-end;
    margin: 70px 0; }
    .main__top .text-story .life-style__share a {
      margin-left: 20px; }

.main__slide {
  background: #f0f0f0;
  margin: 70px 0;
  padding: 70px 0; }

@media screen and (max-width: 1024px) {
  .main__top .text-story .life-style__img {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .main__top .text-story {
    font-size: 12px; }
    .main__top .text-story .life-style__share {
      margin: 30px 0 !important; }

  .main__slide {
    margin: 0 0 30px !important;
    padding: 10px 0; } }

/*# sourceMappingURL=lifestyle.css.map */
