@font-face {
  font-family: "PD-Regular";
  src: url("../libs/fonts/PlayfairDisplay-Regular.ttf"); }
@font-face {
  font-family: "PD-Italic";
  src: url("../libs/fonts/PlayfairDisplay-Italic.ttf"); }
@font-face {
  font-family: "Inconsolata-Bold";
  src: url("../libs/fonts/Inconsolata-Bold.ttf"); }
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../libs/fonts/Ubuntu-Light.ttf"); }
.slide__caption {
  font-size: 14px;
  margin-bottom: 40px;
  display: block; }
.slide__lists {
  width: inherit;
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0; }
  .slide__lists .item {
    width: 100%; }
    .slide__lists .item__img {
      width: inherit;
      height: auto; }
    .slide__lists .item__content a {
      display: block;
      text-decoration: none;
      color: #626262;
      font-size: 20px;
      line-height: 24px;
      font-family: PD-Regular; }
  .slide__lists .item:nth-child(2) {
    margin: 0 40px; }

@media screen and (max-width: 480px) {
  .slide__wrapper {
    width: 100%; }
  .slide__caption {
    font-size: 12px;
    margin-bottom: 10px; }
  .slide__lists {
    width: inherit;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0; }
    .slide__lists .item {
      width: 100%;
      margin-bottom: 40px; }
      .slide__lists .item__img {
        width: inherit;
        height: auto; }
      .slide__lists .item__content a {
        display: block;
        text-decoration: none;
        color: #626262;
        font-size: 18px;
        line-height: 24px;
        font-family: PD-Regular; }
    .slide__lists .item:nth-child(2) {
      margin: 0 0 40px !important; } }
.comment__num {
  margin-bottom: 40px;
  display: block; }
.comment__lists {
  list-style: none;
  padding: 0;
  margin: 0; }
  .comment__lists .item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px; }
    .comment__lists .item__img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin-right: 35px; }
    .comment__lists .item__content--who {
      display: block;
      text-decoration: none;
      color: #626262;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold; }
    .comment__lists .item__content--comment {
      font-size: 14px;
      line-height: 24px;
      margin: 10px 0; }
    .comment__lists .item__boxrep {
      width: 100%; }
      .comment__lists .item__boxrep .textarea {
        width: 95%;
        height: 60px; }
    .comment__lists .item__rep {
      display: flex;
      justify-content: flex-end;
      margin-top: 35px; }
      .comment__lists .item__rep--btn {
        background: url("images/icon-send.png") no-repeat center;
        width: 38px;
        height: 17px;
        display: block; }
      .comment__lists .item__rep a {
        margin: 0 20px; }

.boxrep {
  font: normal 14px Ubuntu-Light;
  padding: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  color: #626262; }

@media screen and (max-width: 480px) {
  .comment__num {
    margin-bottom: 20px; }
  .comment__lists .item {
    margin-bottom: 40px; }
    .comment__lists .item__img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin-right: 15px; }
    .comment__lists .item__content--who {
      display: block;
      text-decoration: none;
      color: #626262;
      font-size: 12px;
      line-height: 12px; }
    .comment__lists .item__content--comment {
      font-size: 12px;
      line-height: 20px; }
    .comment__lists .item__boxrep .textarea {
      width: 90%; }
    .comment__lists .item__rep {
      margin-top: 15px; }
      .comment__lists .item__rep a {
        margin: 0 10px; } }
.box {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff; }
  .box__img {
    width: 100%; }
    .box__img .img {
      width: inherit; }
  .box__content--title {
    font-size: 16pt;
    margin: 10px 0; }
    .box__content--title .link {
      display: block;
      text-decoration: none;
      color: #717171;
      font-size: 24px;
      line-height: 30px; }
  .box__content--description {
    font-size: 14px;
    line-height: 20px;
    color: #acaaaa; }
  .box__social {
    display: flex; }
    .box__social .link {
      margin-right: 15px; }

.top-post {
  width: inherit;
  margin-top: 70px; }
  .top-post__title {
    font-size: 12px; }
  .top-post__list {
    color: #717171;
    margin: 0;
    padding: 0 0 0 20px; }
    .top-post__list h3 {
      margin: 10px 0; }
    .top-post__list .link {
      display: block;
      text-decoration: none;
      color: #717171;
      font-size: 14px;
      line-height: 22px; }
    .top-post__list .num-comment {
      font-size: 12px; }

.advs {
  width: inherit;
  margin-top: 70px; }

@media screen and (max-width: 480px) {
  .advs {
    display: flex;
    justify-content: center; } }
.font-PD-italic {
  font-family: PD-Italic;
  color: #626262; }

.photodiary .main__top {
  padding-left: 80px;
  display: flex; }
  .photodiary .main__top .text-story {
    width: 664px; }

.main__top {
  box-sizing: border-box; }
  .main__top .text-story {
    width: 100%;
    line-height: 24px;
    margin-right: 40px; }
    .main__top .text-story .life-style__img {
      width: 100%;
      margin: 30px 0; }
    .main__top .text-story .life-style__share {
      display: flex;
      justify-content: flex-end;
      margin: 70px 0; }
      .main__top .text-story .life-style__share a {
        margin-left: 20px; }
  .main__top .sidebar {
    width: 276px;
    font-family: PD-Regular; }

.main__slide {
  background: #f0f0f0;
  margin: 70px 0;
  padding: 70px 0; }

@media screen and (max-width: 1024px) {
  .photodiary .main__top {
    padding: 0 20px; }
    .photodiary .main__top .text-story {
      width: 100%; }
      .photodiary .main__top .text-story .life-style__img {
        width: 100%; }
    .photodiary .main__top .sidebar {
      width: 100%; } }
@media screen and (max-width: 480px) {
  .photodiary .main__top {
    flex-direction: column;
    padding: 20px; }
    .photodiary .main__top .text-story {
      font-size: 12px; }
      .photodiary .main__top .text-story .life-style__share {
        margin: 30px 0 !important; }

  .main__slide {
    margin: 0 0 30px !important;
    padding: 10px 0; } }

/*# sourceMappingURL=photodiary.css.map */
