.main__wrapper {
	width: 100%;
	@include reset-ul;
	position: relative;
}

.box {
	width: 280px;
	box-sizing: border-box;
	border: 1px solid #dad9d9;
	border-radius: 4px;
	overflow: hidden;
	background: #fff;
	position: absolute;
	&__img {
		width: 100%;
		.img {
			width: inherit;
		}
	}

	&__content {
		padding: 0 15px;
		&--title {
			font-size: 16pt;
			margin: 10px 0;
			.link {
				@include define-a(#717171,20px,24px);
			}
		}
		&--map {
			font-size: 14px;
			a {
				display: flex;
				@include define-a(#acaaaa,14px,14px);
				.icon {
					background: url("images/map-pin.png") no-repeat center;
					width: 12px;
					height: 12px;
					display: inline-block;
				}
				.cate {
					
				}
			}
		}
		&--description {
			font-size: 13px;
		    line-height: 20px;
		    color: #acaaaa;
		}
	}

	&__rate {
		display: flex;
		justify-content: space-between;
		padding: 13px 15px;
		border-top: 1px solid #dad9d9;
		.star {
			background: url("images/start-rate.png") no-repeat center;
			width: 76px;
			height: 18px;
		}
		.fb {
			background: url("images/facebook.png") no-repeat center;
			width: 26px;
			height: 26px;
			border-radius: 50%;
		}	
	}
}

@media screen and (min-width: 1280px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.container {
	    width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 100%;
	}
}