.wrapper {
	position: relative;
}
.header {	
	.menu__wrapper {
		position: absolute;
		width: 100%;
		z-index: 20;
		top: -103px;
		transition: .5s;
		&--show {
			top: 0px;
		}
	}
	.menu {
		background: rgba(255,255,255,.85);
		display: flex;
		justify-content: center;
		position: relative;
		padding: 34px 0;
		&__lists {
			width: 40%;
			@include reset-ul;
			display: flex;
			justify-content: space-between;
			text-align: center;
			.item {
				.link {
					@include define-a(#363636,16px,35px);
					font-weight: 900;
					text-transform: uppercase;
				}
			}
		}
		.icon-close{
			width: 35px;
			height: 35px;
			background: url("images/close2.png") no-repeat center;
			position: absolute;
			top: 34px;
			right: 20%;
		}
	}

	&__wrapper {
		padding: 28px 0 18px;
		.top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__logo {

			}
			&__icon-menu {
				background: url("images/nav-icon.png") no-repeat right;
    			width: 100px;
				height: 34px;
			}
			&__fr-search {
				position: relative;
				width: 40%;
				.input {
					width: 100%;
					padding: 10px;
					border: 1px solid #e7e7e7;
					background: #f7f6f6;
					border-radius: 3px;
				}
				.btn-search {
					width: 26px;
					height: 26px;
					background: url("images/search-icon.png");
					border: none;
					position: absolute;
					top: 6px;
					right: -15px;
				}
			}
			&__user {
				width: 20%;
			    display: flex;
			    justify-content: flex-end;
				.link {
					@include define-a(#8c8c8c, 16px, 40px);
					display: flex;
					align-items: center;
					.img {
						border-radius: 50%;
						margin-right: 12px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.header {
		.menu__wrapper {
			width: 100%;
			z-index: 20;
			top: -278px;
			left: 0;
			transition: .5s;
			&--show {
				top: 0px;
			}
		}
		.menu {
			&__lists {
				flex-direction: column;
			}
		}
		&__wrapper {
			.top {
				flex-wrap: wrap;
				&__logo {
					width: 40%;
				}
				&__icon-menu {
					width: 40%;
				}
				&__fr-search {
					width: 100%;
				}
				&__user {
					display: none;
				}
			}
		}
	}
}