.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #a64bf4;
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  box-sizing: border-box; }

.form_wrapper {
  width: 500px;
  height: auto;
  padding: 42px 55px 45px;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box; }
  .form_wrapper .form {
    display: flex;
    flex-direction: column; }
    .form_wrapper .form__header {
      display: block;
      width: 100%;
      text-align: center;
      font-family: 'Poppins-Bold', sans-serif;
      font-size: 39px;
      font-weight: 700;
      color: #333;
      line-height: 1.2;
      padding-bottom: 45px; }
    .form_wrapper .form__item {
      width: 100%;
      border-bottom: 2px solid #d9d9d9;
      padding-bottom: 13px;
      margin-bottom: 27px;
      position: relative; }
      .form_wrapper .form__item .label {
        font-family: 'Poppins';
        font-size: 13px;
        color: #666;
        line-height: 1.5;
        padding-left: 5px; }
      .form_wrapper .form__item .input {
        width: 100%;
        height: 40px;
        background: 0 0;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 18px;
        color: #333;
        line-height: 1.2;
        border: none;
        outline: none; }
        .form_wrapper .form__item .input:focus + .focus-input::after {
          border-color: transparent !important;
          width: 100%; }
      .form_wrapper .form__item .focus-input {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none; }
        .form_wrapper .form__item .focus-input::after {
          content: '';
          display: block;
          width: 0%;
          height: 2px;
          background: #7f7f7f;
          position: absolute;
          bottom: -2px;
          left: 0;
          transition: .4s; }
      .form_wrapper .form__item .input-validate {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        color: #c80000;
        font-family: 'Poppins';
        opacity: 0;
        transition: .4s;
        font-size: 13px;
        background: #fff; }
      .form_wrapper .form__item .select {
        width: 100%; }
        .form_wrapper .form__item .select option {
          width: 100%; }
      .form_wrapper .form__item .textarea {
        height: 100px; }
    .form_wrapper .form__submit {
      width: 100%;
      height: 40px;
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 25px;
      overflow: hidden;
      margin: 0 auto; }
      .form_wrapper .form__submit .overflow {
        display: block;
        position: absolute;
        width: 300%;
        height: 100%;
        left: -350px;
        top: 0;
        z-index: -1;
        background: -webkit-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
        transition: .4s; }
      .form_wrapper .form__submit .btnSubmit {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 18px; }

.has-val {
  width: 100%; }

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 58%;
  transform: translateY(-50%);
  right: 8px; }

.alert-validate:hover .input-validate {
  opacity: 1; }

@media screen and (max-width: 480px) {
  .form_wrapper {
    width: 100%;
    padding: 42px 20px 45px !important; } }

/*# sourceMappingURL=form1.css.map */
